@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (max-width: 600px) {
  .chatbox-container {
    max-width: 100%;
    height: 100vh;
  }

  .chatbox-content {
    padding: 10px;
  }

  .chatbox-input {
    padding: 5px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}


